/Makefile.in
/aclocal.m4
/ar-lib
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/Makefile
/config.log
/config.status
/libtool
/test-driver
/build/
/.libs/
/check_liboauth2_*
/liboauth2_sts.la
/test-suite.log
